* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 
    TO CREATE MOVE THE BODY WHEN THE NAVIGATION MENU IS OPENED, UNCOMMENT THE FOLLOWING LINES:

    position: relative;
    left: 50vw; 
    
    */
body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;

    /* background: center / cover no-repeat fixed; */


    /* Adds a black overlay that is 50% see-through. Text remains 100% solid! */
    /* background-image:
        linear-gradient(rgba(13, 7, 7, 0.084), rgba(0, 0, 0, 0.5)),
        url('./Assets/bg/3.jpg'); */
}

header {
    /* flex: auto; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000000;
    color: #fff;
    border: 1px solid #000000;

    position: sticky;
    top: 0;
    /* Tells it exactly where to snap tightly at the top */
    z-index: 1000;
    /* Keeps it layered cleanly above scrolling page text */
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f5f5f5;
}

footer {
    /* flex: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #000000;
    color: #fff;
}

/* ##00 - HAMBURGER MENU */

.hamburger {
    /* position: fixed;
    top: 20px;
    right: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45px;
    height: 45px;
    background: transparent;
    border: none;
    cursor: pointer;
    /* z-index: 100; */
    /* Keeps the button on top of everything */
}

.bar {
    width: 100%;
    height: 6px;
    background-color: #fff;
    border-radius: 2px;
}

/* --- THE NAVIGATION MENU --- */
.nav-menu {
    position: fixed;
    top: 0;
    /* Hides the menu completely off the left side */
    /* SET TO 0 TO MAKE VISIBLE, -50vw TO HIDE */
    left: -50vw;

    width: 50vw;
    height: 100vh;
    /* Full screen height */
    background-color: #f4f4f4;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    /* padding-top: 80px; */
    /* Pushes links down so they aren't hidden behind the button */
    transition: left 0.3s ease;
    /* Makes the slide-in look smooth */
    display: flex;
    flex-direction: column;
    padding-top: 2.2rem;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li a {
    display: block;
    padding-inline: 20px;
    padding-bottom: 15px;
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

#nav-menu__close,
#nav-menu__heading {
    color: #333;
    padding-left: 20px;
}

#nav-menu__close {
    margin-bottom: 2.6rem;
}

#nav-menu__heading {
    font-weight: 700;
    margin-bottom: 15px;
}

.nav-menu li a:hover {
    background-color: #ddd;
    /* Color change when hovering */
}

/* --- THE TOGGLE CLASS --- */
/* When JavaScript adds this class, the menu slides into view */
.nav-menu.active {
    left: 0;
}

/* ##01 - SEARCH */

#search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-location-from {
    min-width: 80%;
}

.search-location__container {
    display: flex;
    align-items: center;
    padding: 4px;
    background-color: #fff;
    width: fit-content;
    border-radius: 8px;
    border: #000000 solid 1px;
    min-width: 100%;
}

#search-location__input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    outline: none;
    border: none;
}

#search-location__btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}

.search__location-refresh img {
    display: flex;
    width: 2.1rem;
    height: 2.1rem;
    cursor: pointer;
}

.search__location-refresh img:hover {
    transform: rotate(360deg);
    transition: transform 0.5s ease-in-out;
}

/* ##02 - LOCATION */
#location__name {
    font-size: 3.7rem;
    font-weight: bold;
}

#location {
    /* possibly add gap to parent div */
    margin-top: 1rem;
}

/* ##03 - WEATHER OVERVIEW */
#weather-overview {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
}

.weather-overview__temperature {
    display: flex;
    gap: 4px;
    align-items: last baseline;
}

.weather-overview__extra-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

#weather-extra-details>span {
    display: flex;
    align-items: center;
}

#weather-extra-details>span>.text {
    font-weight: 700;
}

#weather-extra-details {
    display: flex;
    gap: 10px;
    align-items: center;
    /* flex-direction: column; */
}

#temperature-details {
    display: flex;
    flex-direction: column;
}

#temperature-amount {
    font-size: 8rem;
    font-weight: bold;
}

#temperature-details #description {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
}

#metric span {
    font-size: 1.5rem;
}

#metric .selected {
    font-weight: 700;
}

#weather-extra-details>span>img {
    width: 20px;
    height: 20px;
}

/* ##004 - WEATHER FORECAST */
.weather-forecast {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}

#weather-forecast__heading {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
    text-align: left;
}

.weather-forecast__container {
    width: 100%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: minmax(150px, auto);
}

.weather-forecast__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 10px 0px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-forecast__card img {
    width: 100px;
    height: 100px;
}

.weather-forecast__temperature {
    margin-bottom: 7px;
}

.weather-forecast__text {
    font-size: 1.2rem;
}

.weather-forecast__card .weather-forecast__description {
    text-align: center;
    /* Allow span to respect width */
    display: inline-block;
    width: 100%;
    font-size: 1.1rem;
    white-space: wrap;
}

.weather-forecast__temperature {
    font-weight: 700;
}

.weather-forecast__temperature #max {
    padding-right: 1px;
}

.weather-forecast__temperature #min {
    padding-left: 1px;
}

.weather-forecast__precipitation {
    margin-top: 3px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.weather-forecast__precipitation img {
    width: 20px;
    height: 20px;
}